[user]
	name = Aleksandar Aleksandrov
	email = a.g.aleksandrov@gmail.com
	signingKey = FB93B048A440D64A551F31ECF12EE30B6244316F 
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[color]
	ui = true
[color "status"]
	changed = yellow
[commit]
	gpgSign = true
